@model dynamic

@{
    ViewBag.Title = "Student API Service";
}

@section subhead
{
    <h1>Student API Services</h1>

    <div>
        <p>APIs for student information</p>
    </div>
}
