@model dynamic

@{
    ViewBag.Title = "Student API Service";
}

@section subhead
{
    <h1>Student API Services</h1>

    <div>
        <p>APIs for student information</p>
    </div>
}

<div class="well">
    @Html.ActionLink("Browse courses for 201301 in ENL", "Courses", "Student", new { term = "201301", department = "ENL", key = "123" }, null)
</div>
<div class="well">
    @Html.ActionLink("View roster for course 52960 in term 201301", "Roster", "Student", new { term = "201301", crn = "52960", key = "123" }, null)
</div>